<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Gate Janitor</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>gatehorizonganitor</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>transit</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>moovit</string>
		<string>yandexmaps</string>
		<string>telprompt</string>
		<string>tel</string>
		<string>app-settings</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Gate Janitor needs access to your camera to be able to scan QrCodes</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Gate Janitor needs access to your Microphone to assist camera scanning.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Gate Janitor needs to locate your position to show you results based on your current location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Gate Janitor needs to locate your position to show you results based on your current location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Gate Janitor needs to locate your position to show you results based on your current location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Enable Gate Janitor to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gate Janitor requires access to your photo library to allow for avatar upload</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Tajawal-Black.ttf</string>
		<string>Tajawal-Bold.ttf</string>
		<string>Tajawal-ExtraLight.ttf</string>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Medium.ttf</string>
		<string>Tajawal-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>SplashScreen</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
